version: "3.9"

networks:
  app-network:
    driver: bridge

volumes:
  redis-data:

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
    working_dir: /app
    depends_on:
      - backend
      - algorithm-microservice
    networks:
      - app-network

  algorithm-microservice:
    build:
      context: ./algorithm-microservice
      dockerfile: Dockerfile
    env_file:
      - ./algorithm-microservice/.env
    ports:
      - "5001:5001"
    volumes:
      - ./algorithm-microservice:/code
    working_dir: /code
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    working_dir: /app
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - redis
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]
    networks:
      - app-network
